{% assign pubs = site.data.articles | sort:"date" | reverse %}

<!-- create categories array-->
{% assign categories = "" | split:"|" %}

<!--Add each unique category to the array-->
{% for pub in pubs %}
    {% for category in pub.category %}
        {% assign categories = categories | push: category | uniq %}
    {% endfor %}
{% endfor %}

{% assign categories = categories | sort %}


<!--Output the categories-->
{% for category in categories %}
    {% assign temp = pubs | where:"category",category %}
    <a name="{{category}}"> <h2 id="{{category}}" id="{{category}}">{{category}}</h2></a>
    {% include print_articles.html pubs=temp %}
{% endfor %}

<!-- Only print uncategorised articles if they exist -->
{% assign temp = pubs | where:"category",'' %}
{% if temp[0].category %}
  <h2>Uncategorised</h2>
  {% include print_articles.html pubs=temp %}
{% endif %}
