{% assign pubs = site.data.articles | sort:"date" | reverse %}


<ul class="item">
  {% for pub in pubs %}


    <li class="item">

      {{ pub.authors }}
      ({% if pub.status == 'inpress' %}{{ pub.status }}{% else %}{{pub.date | date: "%Y"}}{% endif %}).
      <span class="title">{% if pub.doi %}
      <a href="//dx.doi.org/{{ pub.doi }}">{{ pub.title }}</a>{% elsif pub.arxiv %}
      <a href="{{ pub.arxiv }}">{{ pub.title }}</a>{% elsif pub.pdf %}
      <a href="{{ pub.pdf }}">{{ pub.title }}</a>{% else %} {{ pub.title }}
      {% endif %}</span>.
      {% if pub.journal %}<i>{{ pub.journal }}</i>.
      {% elsif pub.server %}<i>{{ pub.server }}</i>. {% endif %}
      {% if pub.doi %}<a href="//dx.doi.org/{{ pub.doi }}">{{ pub.doi }}</a>.{% endif %}
      {% if pub.arxiv-id %}<a href="{{ pub.arxiv }}">{{ pub.arxiv-id }}</a>.{% endif %}

    </li>
  {% endfor %}
</ul>
