{% assign pubs = site.data.articles | sort:"date" | reverse %}

<!-- create categories array-->
{% assign categories = "" | split:"|" %}

<!--Add each unique category to the array-->
{% for pub in pubs %}
    {% for category in pub.category %}
        {% assign categories = categories | push: category | uniq %}
    {% endfor %}
{% endfor %}

{% assign categories = categories | sort %}


<!--Output the categories-->
{% for category in categories %}
    {% assign temp = pubs | where:"category",category %}

    <a class="sidebar-nav-item" href="#{{category}}">{{category}}</a>

{% endfor %}

<!-- Only print uncategorised articles if they exist -->
{% assign temp = pubs | where:"category",'' %}
{% if temp[0].category %}
  <a class="sidebar-nav-item" href="#Uncategorised">Uncategorised</a>

{% endif %}
